.login {
  min-width: 100%;
  height: 100vh;
  background: #100E24;
  overflow: hidden;
}

.login .glow {
  position: absolute;
  filter: blur(500px);
  transform: rotate(2.85deg);
}

.login .glow-1 {
  width: 313.85px;
  height: 630.15px;
  left: 1594.91px;
  top: 82px;
  background: #32A7EF;
}

.login .glow-2 {
  width: 571.47px;
  height: 565.25px;
  left: 1269.15px;
  top: -28px;
  background: #55B8FF;
}

.login .glow-3 {
  width: 313.85px;
  height: 630.15px;
  left: 1593.38px;
  top: 104px;
  background: #99D8FF;
}

.login-nav .nav-link {
  color: #FFFFFF; 
  background-color: transparent; 
  text-decoration: none;
}

.login-nav .nav-link,
.login-nav button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  text-align: center;
  float: right;
  font-size: 1.1rem;
  padding: 10px 16px;
  margin-right: 100px;
  letter-spacing: 1px; 
  margin-top: 20px;
}

.login-button {
  border: 2px solid #FFFFFF;
  background: #ffff;
  color: #100E24; 
  border-radius: 5px;
  padding: 12px 16px;
  font-size: 1.2remrem;
}

.login-form-container {
  position: relative;
  font-family: 'Inter', sans-serif;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background:  #100E24;
  padding: 15px; 
  background: linear-gradient(67deg, #100e247b 40%, #1d618c32, #2780b74b);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 380px; 
  height: 480px;
  border:5px solid #1DAAB1;
  margin-left: 400px;
  margin-top: 50px;
}

.login-form-container h2 {
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 30px; 
  margin-left: 40px;
}

.login-form-container input {
  margin-left: 40px;
  width: 70%;
  height: 30px;
  padding: 10px; 
  margin-bottom: 10px; 
  border: none;
  border-radius: 15px;
  background: #0B3432;
  color: #FFFFFF;
  border:2px solid #1DAAB1;
  font-size: 1rem;
}

.login-input-group {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-bottom: 25px;
  
}

.login-input-group label {
  font-size: 0.9rem;
  margin-left: 45px;
  color: #ffff;
  margin-bottom: 4px;
}

.login-input-group input:focus {
  border-color: #55B8FF;
  outline: none;
}

.form-container button:hover {
  background: #55B8FF;
}

.forgot-password {
  color: #1DAAB1; 
  font-size: 11px; 
  text-decoration: none; 
  margin-left: 100px; 
  margin-bottom: 20px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-img {
  position: absolute;
  right: 800px;
  height: 100vh;
  opacity: 0.8;
}  

.login-options {
  display: flex;
  flex-direction: column;
}

.login-options button {
  margin-left: 100px;
  margin-top: 20px;
  height: 50px;
  width: 50%;
  padding: 8px; 
  border-radius: 10px;
  background: #1DAAB1;
  color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}

.signup-prompt {
  margin-top: 24px;
  margin-left: 110px;
  color: #ffff;
  cursor: pointer;
}

.signup-prompt:hover {
  text-decoration: underline;
}

.recaptcha-container {
  display: flex;
  justify-content: center;
  margin-left: 15px;
}